@model IEnumerable<DoroPortfolioWebsite.Models.Project>

@{
    ViewBag.Title = "Projects";
}


<h2 class="container-fluid pageHeader">My Projects</h2>

<div class="container myCode">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="caption" style="text-align:center">
                <h3>@Html.DisplayFor(modelItem => item.Project_Name)</h3>
            </div>
            <div class="thumbnail myCode" id="code">
                <!--Following code is for pop up picture-->
                <center><input type="image" src="@Html.DisplayFor(modelItem => item.Image)" name="Code" class="btTxt submit" id="saveForm" data-toggle="modal" data-target="#myModal-@(item.ProjectID)" /></center>
                <!-- Modal -->
                <div class="modal fade" id="myModal-@(item.ProjectID)" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">@Html.DisplayFor(modelItem => item.Project_Name)</h4>
                            </div>
                            <div class="modal-body">
                                <img src="@Html.DisplayFor(modelItem => item.Image)" class="img-responsive">
                                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!--<img src="@@Html.DisplayFor(modelItem => item.Image)" alt="..." class="gallery">-->
                <div class="caption myCode">
                    <br />
                    <p style="text-align:center">@Html.DisplayFor(modelItem => item.Description)</p>

                </div>
            </div>

            
                <p style="text-align:center"><b>Languages or Tools used:</b></p>
                <p style="text-align:center">@Html.DisplayFor(modelItem => item.Language_Tools)</p>
            <p style="text-align:center">
                <a href="@Html.DisplayFor(modelItem => item.GitHub_Repo)" class="btn pinkBtn pinkBtnText" role="button">View GitHub Code</a>
            </p>
        </div>
    }
</div>