<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Online Portfolio</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <img class="DH" src="~/Content/Images/dh4.png" margin="auto" />
    <button id="togBtn" class="btn btn-default btn-lg glyphicon glyphicon-menu-hamburger btnNavBtn" data-toggle="collapse" data-target="#collapseExample"></button>
    <!--<a href="#" class="btn btn-info btn-lg">
        <span id="navButton" class="glyphicon glyphicon-menu-hamburger"></span></a>-->
    <div class="navbar navbar-inverse navbar-collapse">
        <div class="container">
            <div class="navbar-header">
               

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                    <li>@Html.ActionLink("My Code", "Index", "Projects")</li>
                </ul>
            </div>
        </div>
    </div>
        
        <!--<div class="DH">    </div>-->
        
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - D'oro Online Portfolio</p>
            </footer>
        </div>

    <script>
        $(document).ready(function () {
            $(".navbar-collapse").hide();
        $("#togBtn").click(function () {
            $('.navbar-collapse').slideToggle();
        });
    });
    </script>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        
</body>
</html>